<ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!isOTPSend">
    <form (ngSubmit)="loginFormSubmit()" [formGroup]="loginForm" novalidate class="form-data">

      <div>
        <span *ngIf="!loginForm.controls['pin_code'].value"> Pin Code *</span>
        <input type="text" formControlName="pin_code" pattern="[0-9]+" placeholder="Enter Pin Code" />
      </div>

      <div>
        <span *ngIf="!loginForm.controls['phone_number'].value"> Phone Number *</span>
        <input type="text" formControlName="phone_number" pattern="[0-9]+" placeholder="Enter Phone Number" />
      </div>

      <div>
        <button [disabled]="loginForm.invalid" type="submit">Send OTP
        </button>

      </div>

    </form>
  </div>
  <div *ngIf="isOTPSend">
    <form (ngSubmit)="otpFormSubmit()" [formGroup]="otpForm" novalidate class="form-data">

      <div>
        <span *ngIf="!otpForm.controls['otp'].value"> OTP *</span>
        <input type="text" formControlName="otp" pattern="[0-9]+" placeholder="Enter OTP" />
      </div>
      <span>{{otpCheck}}</span>
      <div>
        <button [disabled]="otpForm.invalid" type="submit">Verify
        </button>
      </div>

      <div>
        <span *ngIf="otpFail"> {{otpFail}}</span>
      </div>
    </form>

  </div>


</ion-content>