<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="My Tiks" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Stores" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Appoiments" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="contacts"></ion-tab>
</ion-tabs>
