<ion-header>
  <ion-navbar>
    <ion-title>
      Appoiments
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of appoiments" (click)="appoimentsClick(c);">
      <span>{{c.bint_phone}}</span>
      <br>
      <span>{{c.enum_book_type}}</span>
      <br>
      <span>{{c.dt_booking_date}}</span>
      <br>
      <span>{{c.timeslot}}</span>
      <br>
    </ion-item>
  </ion-list>
</ion-content>