<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="searchName($event)"></ion-searchbar>
  <ion-card (click)="getStoreDetails(store)" *ngFor="let store of storeList">
    <ion-card-content>
      <img [src]="store.var_logo" />
    </ion-card-content>
    <ion-item>
      {{store.var_title}}
    </ion-item>
  </ion-card>
</ion-content>