<ion-header>
  <ion-navbar>
    <ion-title>{{service.serivce_title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-calendar [(ngModel)]="event.date" [options]="optionsMulti" (onChange)="selectDate($event)" [type]="type" [format]="'YYYY-MM-DD'">
      </ion-calendar>
  <!-- <ion-searchbar (ionInput)="searchName($event)"></ion-searchbar> -->
  <!-- <ion-card (click)="getStoreDetails(store)" *ngFor="let store of storeList">
    <ion-card-content>
      <img [src]="store.var_logo" />
    </ion-card-content>
    <ion-item>
      {{store.var_title}}
    </ion-item>
  </ion-card> -->
</ion-content>