<ion-header>
  <ion-navbar>
    <ion-title>{{store.var_title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img [src]="store.var_logo" />
    <span>{{store.var_title}}</span>
  </ion-card>
  <ion-segment [(ngModel)]="activeTab" (ionChange)="changeTab()">
    <ion-segment-button ripple value="services">
      Services
    </ion-segment-button>
    <ion-segment-button value="details">
      Details
    </ion-segment-button>
    <ion-segment-button value="reviews">
      Reviews
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="activeTab">
    <ion-list *ngSwitchCase="'services'">
      <ion-searchbar placeholder="Search for Services" (ionInput)="searchService($event)"></ion-searchbar>
      <ion-item-sliding *ngFor="let record of serviceList">
        <ion-item>
          {{record.serivce_title}} | {{record.var_price}}
          <button ion-button (click)="book(record)">Book</button>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'details'">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
        <agm-marker *ngFor="let marker of markers" (markerClick)="markerClicked(marker.id)" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
      </agm-map>
      <ion-item>
        {{store.txt_address}}
      </ion-item>
      <ion-item>
        <ion-item-sliding *ngFor="let staff of store.store_has_barbers">
          <ion-item>
            {{staff.var_name}}
          </ion-item>
        </ion-item-sliding>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'reviews'">
      <ion-item>
        Comming Soon
      </ion-item>
    </ion-list>
  </div>
</ion-content>